.breadcrumbs {
    margin: 3.2rem auto 2.4rem;
    display: flex;
    align-items: center;

    @include breakpoint($mobile) {
        display: none;

        &--has {
            display: flex;
        }
    }
}


.breadcrumbs__link {
    color: #01579B;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    text-decoration: none;

    &--current {
        color: $gray;
    }

    &:hover {
        opacity: 0.8;
    }

    @include breakpoint($laptop) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 3.4vw;
    }
}