.checkbox {
    position: relative;
    margin-bottom: 1.2rem;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    &:hover .checkbox__label::before {
        border: 2px solid #3582BF;
    }
    
    &:hover .checkbox__label::after {
        border-bottom: 2px solid #3582BF;
        border-left: 2px solid #3582BF;
    }

    &.hidden {
        display: none;
    }
}

.checkbox__input {
    appearance: none;
    position: absolute;

    &:checked + .checkbox__label::after {
        opacity: 1;
    }

    &:checked + .checkbox__label::before {
        border: 2px solid $secondary;
    }

    &:disabled + .checkbox__label {
        color: $gray;
    }

    &:disabled + .checkbox__label::before {
        border: 2px solid #ccc;
    }
}

.checkbox__label {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 20px; 
    padding-left: 3rem;
    cursor: pointer;

    &::before {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        z-index: 2;
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        border: 2px solid #ccc;
        border-radius: 3px;
    }

    &::after {
        display: block;
        position: absolute;
        content: "";
        z-index: 3;
        height: 5px;
        width: 12px;
        background-color: transparent;
        border-bottom: 2px solid $secondary;
        border-left: 2px solid $secondary;
        left: 4px;
        top: 6px;
        z-index: 3;
        transform: rotate(-45deg);
        opacity: 0;
        transition: all linear .3s;
    }

    @include breakpoint($tablet) {
        font-size: 1vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.5vw;
        line-height: 18px;
    }
    @include breakpoint($mobile) {
        font-size: 2.4vw;
    }
}

.checkbox__label-num {
    color: $gray;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 133.333% */

    @include breakpoint($tablet) {
        font-size: 1vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.5vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.4vw;
    }
}
