.close {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        transform: rotate(90deg);
    }
}