.contact-box__item {
    margin-bottom: 1.2rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint($laptop) {
        margin-bottom: 1rem;
    }
}

.contact-box__link {
    text-decoration: none;
    color: $light-gray;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 133.333% */

    &:hover {
        color: $gray;
    }

    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
}

.contact-box__address {
    font-size: 0.8vw;
    margin-top: 1.5rem;
    color: $light-gray;
    font-weight: 500;
    line-height: 18px; /* 150% */

    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
}

.contact-box__location {
    font-size: 0.8vw;
    margin-top: 1.2rem;
    color: $light-gray;
    font-weight: 500;
    line-height: 18px; /* 150% */

    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
}
