.input {
    color:  #333;
    font-family: 'Montserrat';
    font-size: 0.7vw;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    padding: 0.4rem;
    background: $white;
    transition: all linear .3s;

    &::placeholder {
        font-family: 'Montserrat';
        color:#999;
        font-size: 0.7vw;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 133.333% */
    }

    &:focus {
        border: 1px solid #01579B;
        box-shadow: 0px 0px 3px 0px rgba(63, 117, 255, 0.65);
    }

    &:disabled {
        background: #F8F8F8;
        color: #ccc;
    }

    &--search {
        height: 4.2rem;
        width: 39.48vw;
        border: 1px solid #E6E6E6;
        padding: 1.2rem;
        border-radius: 4px 0 0 4px;

        &::placeholder {
            font-weight: 700;
            color: #E5E5E5;
        }

        @include breakpoint($tablet) {
            width: 30vw;
            font-size: 1.1vw;
            height: auto;

            &::placeholder {
                font-size: 1.1vw;
            }
        }

        @include breakpoint($tablet-pt) {
            font-size: 1.5vw;

            &::placeholder {
                font-size: 1.5vw;
            }
        }

        @include breakpoint($mobile) {
            display: none;
        }
    }

    &--footer {
        margin-right: 0.4rem;
        font-weight: 400;
        line-height: 20px;
        background: transparent;
        border: none;
        width: 15.63vw;
        
        &::placeholder {
            color:#9A9EA5;
        }

        &:focus {
            border: none;
            box-shadow: none;
        }

        @include breakpoint($tablet) {
            font-size: 1.1vw;

            &::placeholder {
                font-size: 1.1vw;
            }
        }

        @include breakpoint($tablet-pt) {
            font-size: 1.5vw;

            &::placeholder {
                font-size: 1.5vw;
            }
        }

        @include breakpoint($mobile) {
            width: 100%;
            font-size: 4vw;

            &::placeholder {
                font-size: 4vw;
            }
        }
    }

    &--filter {
        width: 5.5rem;
        height: 32px;
    }

    &--textarea {
        min-height: 9.6rem;
        resize: none;
    }
}