.pagination {
    text-align: center;
    padding: 2.4rem 0;

    &.hidden {
        display: none;
    }
}


.pagination__show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 2.4rem;

    &.hidden {
        display: none;
    }
}

.pagination__text {
    margin-right: 1rem;
    color: $secondary;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 114.286% */

    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2vw;
    }
    @include breakpoint($mobile) {
        font-size: 3.2vw;
    }
}


.pagination__pages {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint($mobile) {
        margin-top: 1.2rem;
    }
}

.pagination__link-page {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: $secondary;
    padding: 1.1rem 4rem;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 114.286% */

    &:hover {
        background-color: $light-gray;
    }

    &.hidden {
        visibility: hidden;
    }

    @include breakpoint($tablet-pt) {
        padding: 0.6rem 2rem;
    }
    @include breakpoint($mobile) {
        padding: 0.4rem 1rem;
    }
}

.pagination__text {
    &--prev {
        margin-left: 1.4rem;
    }

    &--next {
        margin-right: 1.4rem;
    }

    @include breakpoint($mobile) {
        &--prev {
            margin-left: 0.7rem;
        }
    
        &--next {
            margin-right: 0.7rem;
        }
    }
}

.pagination__list {
    display: flex;
    align-items: center;
}

.pagination__link {
    padding: 1.1rem 3rem;
    display: inline-block;
    color: $secondary;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;

    &.active,
    &:hover {
        background-color: $light-gray;
    }

    @include breakpoint($tablet) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2vw;
        padding: 0.6rem 1.5rem;
    }
    @include breakpoint($mobile) {
        font-size: 3.3vw;
        padding: 0.4rem 1rem;
    }
}