.product__wrap {
    width: 83%;
}

.product__items {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 1.6rem;
    margin-bottom: 1.6rem;
}

.product {
    background: $white;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 71, 0.14);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover {
        box-shadow: 0px 4px 12px 0px rgba(50, 50, 71, 0.74);
    }

    &--blue {
        background: $dark;
        
        .product__reviews,
        .product__price-actual,
        .product__name {
            color: $soft;
        }

        .product__price-old {
            color: $gray;
        }
    }

    &--with-filter {
        grid-column: span 4;

        @include breakpoint($laptop) {
            grid-column: span 5;
        }
        @include breakpoint($tablet) {
            grid-column: span 10;
        }

        &:hover {
            .product__info {
                display: block;
            }
        }

        &.list {
            grid-column: span 20;

            @include breakpoint($laptop) {
                grid-column: span 20;
            }
            @include breakpoint($tablet) {
                grid-column: span 20;
            }

            .product__actions {
                display: none;
            }
            .product__actions--rating {
                display: flex;
            }
            .product__img {
                margin: 0;
            }
            .product__number {
                display: block;
            }
            .product__info {
                display: block;
                position: relative;
                left: 0;
                top: 0;
                border: none;
                padding: 0;
            }
            .product__info-title {
                border: none;
            }
            .product__row {
                @include flex;
            }
            .product__line {
                @include flex;
            }
            .product__main {
                display: flex;
            }
            .product__right {
                margin-left: 2.4rem;
                flex-grow: 1;
            }
            .product__button {
                margin-left: 3.5rem;
                height: auto;
            }
        }
    }
}



.product__number {
    display: none;
    color: #ccc;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.product__link {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.product__header {
    @include flex;
    padding: 0.8rem 1.2rem 1.2rem 0;
}

.product__actions {
    @include flex;

    &--rating {
        margin-left: 2.4rem;
        display: none;
    }
}

.product__icon {
    margin-right: 5px;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
}

.product__new {
    opacity: 0;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    color: $white;
    padding: 0.3rem 1rem 0.5rem;
    background-color: $red;
    position: relative;

    &.active {
        opacity: 1;
    }

    &::after {
        position: absolute;
        right: -10px;
        top: 0;
        z-index: 2;
        content: "";
        width: 10px;
        height: 24px;
        display: block;
        background: url("../../img/svg/right-triangle.svg") center no-repeat;
        background-size: cover;
    }

    @include breakpoint($tablet) {
        font-size: 1.2vw;

        &::after {
            right: -9px;
        }
    }

    @include breakpoint($tablet-pt) {
        font-size: 1.5vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.5vw;
    }
}

.product__main {
    padding: 0 1.2rem;
    margin: auto 0 0 0;
}

.product__img {
    display: block;
    margin: 0 auto;
}

.product__name {
    margin: 1.2rem 0;
    font-size: 0.7vw;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    color: $dark-grey;

    @include breakpoint($desktop) {
        font-size: 0.9vw;
    }
    @include breakpoint($laptop) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.4vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.9vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.9vw;
    }
}

.product__reviews {
    color: $gray;
    font-size: 0.7vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
        line-height: 12px;
    }
}

.product__reviews-counter {
    margin-left: 0.4rem;
}


.product__footer {
    @include flex;
    padding: 0 1.2rem 1.2rem;
    margin: auto 0 0 0;
}

.product__button {
    position: relative;
    z-index: 3;
    outline: none;
    border-radius: 4px;
    background: #06A56C;
    color: $soft;
    font-size: 0.8vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 100% */
    border: none;
    padding: 1rem 1.5rem;
    text-transform: uppercase;

    &:hover {
        background: #37BD8D;
    }

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.5vw;
    }
    @include breakpoint($mobile) {
        padding: 0.6rem 0.8rem;
    }
}

.product__button-text {
    @include breakpoint($mobile) {
        display: none;
    }
}

.product__button-img {
    display: none;

    @include breakpoint($mobile) {
        display: block;
    }
}

.product__price-actual {
    color: $dark;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 12px; /* 100% */

    &--sale {
        color: $red;
        transform: translateX(1.2rem);

        .product__price {
            font-size: 1vw;
            font-weight: 500;
            line-height: 20px; /* 133.333% */

            @include breakpoint($laptop) {
                font-size: 1.1vw;
            }
            @include breakpoint($tablet) {
                font-size: 1.4vw;
            }
            @include breakpoint($tablet-pt) {
                font-size: 1.7vw;
            }
            @include breakpoint($mobile) {
                font-size: 2.7vw;
            }
        }
    }

    @include breakpoint($laptop) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.product__price-old {
    color: $gray;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 10px; /* 100% */
    margin-bottom: 0.5rem;
    text-decoration: line-through;

    &.disabled {
        display: none;
    }

    @include breakpoint($laptop) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.product__price {
    font-size: 1vw;
    font-weight: 700;
    line-height: 24px; /* 133.333% */

    @include breakpoint($laptop) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.product__info {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 99%;
    display: none;
    padding: 1.2rem;
    padding-top: 0;
    background-color: $white;
    width: 100%;
}

.product__info-title {
    border-top: 1px solid #E6E6E6;
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    margin-bottom: 1rem;
    padding-top: 1.2rem
}

.product__info-item {
    @include flex;
    margin-bottom: 0.5rem;
}

.product__info-feature {
    color: $gray;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}


.product__info-value {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}