.rating {
    display: flex;
    align-items: center;
    margin-right: 0.8rem;

    &--reviews {
        margin: 0 auto 1.2rem;
        justify-content: center;

        @include breakpoint($mobile) {
            margin: 0 auto;
        }
    }
}

.rating-item {
    margin-right: 4px;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
}