.section__title {
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 32px;
    color: $dark-grey;

    &--page {
        font-size: 1.7vw;
        line-height: 36px;
    }

    @include breakpoint($laptop) {
        font-size: 2vw;
    }
    @include breakpoint($tablet) {
        font-size: 2.5vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 3vw;
        line-height: 20px;
    }
    @include breakpoint($mobile) {
        font-size: 6vw;
        line-height: 26px;
    }
}

.section__main-page {
    display: flex;
    justify-content: space-between;
    margin: 2.4rem auto;

    @include breakpoint($tablet) {
        flex-wrap: wrap;
    }
}

.section__wrap {
    display: flex;
    position: relative;
}