.show-more {
    text-align: right;
}

.show-more__link {
    
    display: inline-block;
    color: #01579B;
    font-size: 0.8vw;
    text-decoration: none;
    font-weight: 500;
    line-height: 14px; /* 100% */
    padding-right: 2.5rem;
    letter-spacing: 0.28px;
    background: url("../../img/svg/arrow/arrow-right-blue-m.svg") 97% 65% no-repeat;
    background-size: 16px;
    transition: all linear .3s;
    
    &:hover {
        background: url("../../img/svg/arrow/arrow-right-blue-m.svg") 101% 65% no-repeat; 
        background-size: 16px; 
        opacity: 0.8;
    }


    &--white {
        color: $white;
        background: url("../../img/svg/arrow/arrow-right-white-m.svg") 97% 65% no-repeat;
        background-size: 16px;
        transition: all linear .3s;

        &:hover {
            background: url("../../img/svg/arrow/arrow-right-white-m.svg") 101% 65% no-repeat;
            background-size: 16px; 
        }
    }
    
    &--s {
        padding-right: 2.2rem;
        background: url("../../img/svg/arrow/arrow-right-blue-s.svg") 97% 40% no-repeat;
        background-size: 12px;
        transition: all linear .3s;
        font-size: 0.6vw;
        font-weight: 500;
        line-height: 10px; /* 100% */

        &:hover {
            background: url("../../img/svg/arrow/arrow-right-blue-s.svg") 101% 40% no-repeat;
            background-size: 12px; 
        }
    }
}