.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.promotion__slider {
    position: relative;
    padding: 0 3.4rem;

    .slick-slide {
        display: flex;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        border: none;
        outline: none;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transform: translateY(-50%);

        &.slick-prev {
            left: 0;
            background: url("../../img/svg/arrow/arrow-left-white-l.svg") 0 0 / 100% no-repeat;
        }
        &.slick-next {
            right: 0;
            background: url("../../img/svg/arrow/arrow-right-white-l.svg") 0 0 / 100% no-repeat;

        }
    }
    @include breakpoint($tablet-pt) {
        padding: 0 1.6rem;
    }
}

.intro__slider {
    position: relative;

    .slick-dots {
        position: absolute;
        left: 4rem;
        bottom: 4rem;
        z-index: 2;
        display: flex;
        align-items: center;

        @include breakpoint($tablet-pt) {
            left: 3rem;
            bottom: 3rem;
        }
        @include breakpoint($mobile) {
            left: auto;
            right: 1.6rem;
            bottom: 1.6rem;
        }
    }
    .slick-dots li {
        list-style: none;
        margin-right: 0.5rem;
    }
    .slick-dots li.slick-active button {
        background-color: $dark;
    }

    .slick-dots li button {
        font-size: 0;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        background-color: $white;
        margin-right: 0.5rem;
        cursor: pointer;
        border: none;
        outline: none;
    }
}

.reviews__slider {
    position: relative;

    .slick-slide {
        display: flex;
        height: auto;
    }

    .slick-arrow {
        position: absolute;
        font-size: 0;
        border: none;
        outline: none;
        width: 12px;
        height: 12px;
        cursor: pointer;
        top: 0%;
        z-index: 10;

        &.slick-prev {
            left: 0;
            background: url("../../img/svg/arrow/arrow-left-blue-s.svg") 0 0 / 100% no-repeat;
        }

        &.slick-next {
            right: 0;
            background: url("../../img/svg/arrow/arrow-right-blue-s.svg") 0 0 / 100% no-repeat;
        }
    }
}

.cart__slider {
    position: relative;

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        border: none;
        outline: none;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transform: translateY(-50%);

        &.slick-prev {
            left: -3rem;
            background: url("../../img/svg/arrow/arrow-left-blue-24.svg") 0 0 / 100% no-repeat;
        }
        &.slick-next {
            right: -3rem;
            background: url("../../img/svg/arrow/arrow-right-blue-24.svg") 0 0 / 100% no-repeat;

        }
    }
}