.social {
    margin-top: 2rem;
    margin-bottom: 2.8rem;
    display: flex;
    align-items: center;
}

.social__item {
    margin-right: 0.8rem;


    &:last-child {
        margin-right: 0;
    }
}

.social__link {
    display: block;
    text-decoration: none;
    background-color: $soft;
    border-radius: 50%;
    padding: 4px 4px;

    &--whatsapp {
        padding: 6px 7px;
    }
    &--telegram {
        padding: 8px 6px;
    }
}

.social__img {
    display: block;
    margin: 0 auto;
}