.account {
    display: flex;
    padding-top: 3.2rem;
}

.account__left {
    width: 24%;
    margin-right: 1.6rem;

    @include breakpoint($tablet-pt) {
        display: none;
    }
}

.account__right {
    flex-grow: 1;
}

.account__right-item {
    display: none;

    &.active {
        display: block;
    }
}

.account__menu-item {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    padding-left: 1.6rem;
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;

    &:last-child {
        border: none;
    }

    &--reply {
        padding-left: 1.2rem;

        .account__menu-name {
            margin-left: 2.2rem;
        }
    }

    &:hover,
    &.active {
        background-color: $soft;

        .account__menu-name {
            color: $secondary;
        }
    }

    @include breakpoint($laptop) {
        &--reply {
            .account__menu-name {
                margin-left: 1.2rem;
            }
        }
    }

    @include breakpoint($tablet) {
        padding: 0.8rem;

        &--reply {
            padding-left: 0.4rem;
        }
    }
}

.account__menu-name {
    color: $dark;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 20px; /* 125% */
    margin-left: 2.4rem;

    @include breakpoint($laptop) {
        font-size: 1vw;
        margin-left: 1.4rem;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
        line-height: 14px;
    }
}

.account__profile {
    display: flex;   
    margin: 2.4rem 0;
    width: 55%;

    @include breakpoint($laptop) {
        width: 70%;
    }
    @include breakpoint($tablet) {
        width: 80%;
    }
    @include breakpoint($tablet-pt) {
        width: 100%;
    }
    @include breakpoint($mobile) {
        flex-wrap: wrap;
    }
}

.account__avatar {
    margin-right: 1.6rem;
    text-align: center;
    padding: 1rem;

    @include breakpoint($mobile) {
        margin: 0 auto 2.4rem;
    }
}

.account__avatar-img-box {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

.account__avatar-text {
    color: $white;
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 28px; /* 116.667% */

    @include breakpoint($laptop) {
        font-size: 1.5vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.7vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2.2vw;
    }
    @include breakpoint($mobile) {
        font-size: 3.2vw;
    }
}

.account__upload {
    position: relative;
    width: 100%;

    .account__action-text {
        cursor: pointer;
    }
}

.account__upload-input {
   opacity: 0;
   visibility: hidden;
   position: absolute;
}

.account__upload-text {
    color: $secondary;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;

    &:hover {
        color: $gray;
    }

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.account__text {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px;

    &.disabled {
        display: none;
    }

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
        line-height: 14px;
    }
}

.account__value {
    margin: 0 1.6rem;
    width: 40%;

    .account__btn {
        display: none;
        line-height: 16px;

        &--confirmation {
            display: block;
            margin-top: 0.4rem;

            &.disabled {
                display: none;
            }
        }

        &.show {
            display: block;
        }
    }
}

.account__confirmation {
    display: block;
    margin-top: 0.4rem;
    color: $gray;
    font-size: 0.7vw;
    font-weight: 500;
    line-height: 16px;

    &.disabled {
        display: none;
    }

    @include breakpoint($laptop) {
        font-size: 0.9vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
    }
}

.account__info-title {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 16px;

    &--line {
        width: 48%;
    }

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
        line-height: 12px;
    }
}

.account__edit {
    border: none;
    cursor: pointer;
    outline: none;
}

.account__info {
    flex-grow: 1;
}

.account__info-item {
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem;
    border-bottom: 1px solid #E6E6E6;
}

.account__info-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.account__socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
    margin-top: 0.8rem;
}

.account__socials-item {
    grid-column: span 2;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    background: $white;
    padding: 0.8rem;

    &:hover {
        background-color: $soft;
        border: 1px solid $secondary;
    }
}

.account__socials-info {
    margin-left: 0.8rem;
    flex-grow: 1;
}

.account__socials-info-header {
    @include flex;
}

.account__socials-check {
    display: none;
}

.account__socials-name {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 16px; /* 133.333% */

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.account__btn {
    color: $secondary;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 12px; /* 120% */
    cursor: pointer;
    border: none;
    outline: none;

    &:hover {
        color: $gray;
    }

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.account__mailing-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.8rem;
    column-gap: 1.6rem;
    margin-top: 0.8rem;

    @include breakpoint($mobile) {
        column-gap: 0.8rem;
    }
}

.account__mailing-list-item {
    grid-column: span 2;

    @include breakpoint($mobile) {
        grid-column: span 4;
    }
}

.account__info-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .account__btn {
        padding: 0.4rem 0;
    }
}

.account__product-list {
    margin-top: 2.4rem;

    .product {
        margin-bottom: 1.2rem;
    }
}

.account__wishlist-header {
    margin: 2.4rem 0;
}

.account__wishlist-list {
    display: flex;
    align-items: center;

    @include breakpoint($mobile) {
        flex-wrap: wrap;
    }
}

.account__wishlist-item {
    display: flex;
    align-items: center;
    color: $secondary;
    cursor: pointer;

    &:hover {
        color: $gray;
    }

    margin-right: 2.4rem;

    &:last-child {
        margin: 0;
    }

    @include breakpoint($mobile) {
        margin-right: 0;
        margin-bottom: 1.2rem;
        width: 100%;
    }
}

.account__wishlist-text {
    margin-left: 1.2rem;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px;

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.account__feedback {
    margin: 2.4rem 0;
}

.account__feedback-item {
    border-radius: 4px;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 71, 0.14);
    margin-bottom: 1.2rem;
    padding: 1.2rem;
    
    &:last-child {
        margin: 0;
    }

    &.active .account__feedback-review {
        display: block
    }
}

.account__feedback-preview {
    @include flex;
    cursor: pointer;
}

.account__feedback-preview-info {
    display: flex;
    align-items: center;
}

.account__feedback-preview-name {
    margin-left: 1.2rem;
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px;

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.account__feedback-review {
    margin-top: 1.2rem;
    padding-left: 6rem;
    display: none;

    @include breakpoint($tablet) {
        margin-top: 0;
    }
    @include breakpoint($mobile) {
        padding: 0;
    }
}

.account__feedback-review-header {
    @include flex;
    margin-bottom: 8px;
}

.account__feedback-review-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.account__feedback-review-text {
    color: #666;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 20px;
    width: 90%;

    @include breakpoint($laptop) {
        font-size: 1vw;
        line-height: 16px;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
        line-height: 14px;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.account__feedback-review-like-counter {
    color: $secondary;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 20px; 
    margin-left: 0.8rem;

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.account__feedback-review-like {
    @include flex;
}

.account__history {
    margin: 2.4rem 0;
}

.account__history-item {
    border-radius: 4px;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 71, 0.14);
    margin-bottom: 1.2rem;
    padding: 1.2rem;
    
    &:last-child {
        margin: 0;
    }

    &.active .account__history-information {
        display: block;
    } 
}

.account__history-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;

    @include breakpoint($tablet-pt) {
        flex-wrap: wrap;
    }
}

.account__history-info {
    color: #666;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    margin-bottom: 0.8rem;

    @include breakpoint($laptop) {
        font-size: 1vw;

        .reviews__date {
            font-size: 1vw;
        }
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;

        .reviews__date {
            font-size: 1.2vw;
        }
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;

        .reviews__date {
            font-size: 1.7vw;
        }
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;

        .reviews__date {
            font-size: 2.7vw;
        }
    }
}

.account__history-status {
    color: $primary;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 114.286% */

    &--yellow {
        color: $yellow;
    }
    &--secondary {
        color: $secondary;
    }

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.account__history-desc {
    color: $gray;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 12px; 
    margin-bottom: 0.8rem;

    &--large {
        font-size: 0.9vw;
        line-height: 16px;
    }

    @include breakpoint($laptop) {
        font-size: 1vw;

        &--large {
            font-size: 1.1vw;
        }
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;

        &--large {
            font-size: 1.3vw;
        }
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
        margin-bottom: 0.4vw;

        &--large {
            font-size: 1.8vw;
        }
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;

        &--large {
            font-size: 2.8vw;
        }
    }
}

.account__history-text {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; 

    &--primary {
        color: $primary;
    }
    &--yellow {
        color: $yellow;
    }

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.account__history-text-span {
    color: $dark-grey;
    font-size: 0.7vw;
    font-weight: 500;
    line-height: 8px; 

    @include breakpoint($laptop) {
        font-size: 0.9vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.8vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.8vw;
    }
}

.account__history-column {
    &:nth-child(2) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    &--row {
        display: flex;
        align-items: center;
    }

    @include breakpoint($tablet-pt) {
        width: 100%;
        flex-grow: 1;
        margin-bottom: 1.2rem;

        &:last-child {
            margin: 0;
        }

        &:nth-child(2) {
            position: static;
            transform: translate3d(0, 0, 0);
        }
    }
}

.account__history-toggle {
    @include breakpoint($tablet-pt) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%)
    }
}

.account__history-images {
    display: flex;
    align-items: center;
    margin-right: 2.4rem;
}

.account__history-img {
    display: block;
    margin-right: 0.8rem;
}

.account__history-img-addition {
    color: #000;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 20px; /* 125% */
    border-radius: 4px;
    border: 2px solid $dark;
    padding: 0.5rem 1rem;

    @include breakpoint($laptop) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.8vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.8vw;
    }
}

.account__history-information {
    margin-top: 2.4rem;
    display: none;
}

.account__history-information-btn {
    margin-top: 2.4rem;
    width: 23rem;

    .button {
        justify-content: center;
        width: 100%;
    }
}

.account__history-information-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
}

.account__history-products {
    grid-column: span 1;

    @include breakpoint($tablet) {
        grid-column: span 2;
    }
}

.account__history-data {
    grid-column: span 1;

    @include breakpoint($tablet) {
        grid-column: span 2;
    }
}

.account__history-products-inner {
    margin: 1.6rem 0;
}

.account__history-product {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    border-top: 1px solid #E6E6E6;

    &:last-child {
        border-bottom: 1px solid #E6E6E6;
    }
}

.account__history-product-content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 3rem;
 
    @include breakpoint($tablet-pt) {
        flex-wrap: wrap;
    }
}

.account__history-product-name {
    width: 13rem;
    margin-right: 1.2rem;

    @include breakpoint($tablet-pt) {
        width: auto;
        margin-right: 0;
        margin-bottom: 1.2rem;
    }
}

.account__history-product-info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.account__history-product-info-item {
    text-align: center;
}

.account__history-products-result {
    @include flex;
}

.account__history-result {
    color: $dark;
    font-size: 1.3vw;
    font-weight: 700;
    line-height: 24px;

    @include breakpoint($laptop) {
        font-size: 1.5vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.7vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2.2vw;
    }
    @include breakpoint($mobile) {
        font-size: 3.2vw;
    }
}

.account__history-result-span {
    color: $dark;
    font-size: 0.9vw;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 0.32px;

    @include breakpoint($laptop) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.8vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.8vw;
    }
}

.account__history-data {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 1fr 1fr;
}

.account__history-data-column {
    grid-column: span 1;

    .account__history-desc {
        &--large {
            margin-bottom: 1.6rem;

            @include breakpoint($tablet-pt) {
                margin-bottom: 1.2rem;
            }
        }
    }
}

.account__history-data-item {
    margin-bottom: 1.2rem;

    &:last-child {
        margin-bottom: 0;
    }
}