.cart__header {
    margin-bottom: 2.4rem;
}

.cart__title {
    color: $dark;
    font-size: 1vw;
    font-weight: 600;
    line-height: 24px; 
}

.cart__product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    padding: 1.2rem 0;

    &:first-child {
        border-top: 1px solid #E6E6E6;
    }
}

.cart__product-content {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    justify-content: space-between;
    flex-grow: 1;
}

.cart__product-footer {
    display: flex;
    align-items: center;

    &--set {
        justify-content: right;
        padding-top: 1.6rem;
    }
}

.cart__product-info {
    margin-right: 4vw;

    &.mobile {
        @include flex;
    }
}

.cart__product-bin {
    &--mobile {
        display: none;
    }
}

.cart__product-name {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 400;
}

.cart__product-counter {
    display: flex;
    align-items: center;
}

.cart__product-action {
    background-color: $soft;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;

    &:hover {
        background-color: $light-gray;
    }
}

.cart__product-price {
    color: $dark;
    font-size: 1vw;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    margin-right: 4rem;
}

.cart__product-price-curency {
    font-size: 0.7vw;
    font-weight: 500;
    line-height: 12px;
}

.cart__product-bin-box {
    cursor: pointer;
    justify-self: end;
}

.cart__buy {
    margin: 3.2rem 0 2.4rem;
}

.cart__buy-up {
    display: none;

    &.show {
        @include flex;
        margin-bottom: 1.2rem;
    }
}

.cart__buy-text {
    color: $dark-grey;
    font-size: 1vw;
    font-weight: 700;
    line-height: 24px;
}

.cart__buy-price {
    color: $dark;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 24px; /* 85.714% */
}

.cart__buy-price-curency {
    font-size: 0.9vw;
    line-height: 16px; 
    letter-spacing: 0.32px;
}

.cart__buy-down {
    @include flex;   
}

.cart__buy-order {
    display: flex;
    align-items: center;

    .cart__buy-price {
        margin-right: 2.8rem;
    }
}

.cart__kit {
    margin: 2.4rem 0;
}

.cart__kit-content {
    @include flex;
    margin: 2.4rem 0;
}

.cart__kit-cards {
    width: 81%;
}

.cart__kit-card {
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 71, 0.14);
    border-bottom: 4px;
    padding: 2.4rem;
}

.cart__kit-card-info {
    @include flex;
    padding-top: 1.6rem;
    border-top: 1px solid #E6E6E6;
}

.cart__kit-number {
    color: $gray;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 20px; 
}

.cart__kit-price {
    color: $dark;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 24px; /* 85.714% */
}

.cart__kit-price-curency {
    font-size: 0.9vw;
    line-height: 16px; 
    letter-spacing: 0.32px;
}

.card__kit-saving {
    color: $primary;
}

.cart__kit-saving-price {

    font-size: 0.8vw;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.cart__kit-saving-curency {
    font-size: 0.7vw;
    font-weight: 500;
    line-height: 8px;
}

.cart__kit-order {
    display: flex;
    align-items: center;
}

.card__kit-order-info {
    margin-right: 2.4rem;
}

.cart__kit-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2rem;
}

.cart__kit-product {
    display: flex;
    width: 38%;
}

.cart__kit-product-info {
    margin-left: 2.4rem;
}
.cart__kit-product-name {
    color: $dark;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 20px; /* 125% */
    margin-bottom: 1.2rem;
}

.cart__kit-add-box {
    margin: 0 1.6rem;
}

.cart__similar-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
    margin-top: 2.4rem;
}

.cart-similar-item {
    grid-column: span 1;
}

.cart__set {
    padding: 1.6rem;
    border: 2px solid $secondary;
    border-radius: 4px;
}

.cart__set-name {
    color: $secondary;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    margin-bottom: 1.6rem;
}

.cart__set__product {
    @include flex;
    padding: 1.2rem 0;
    border-top: 1px solid #E6E6E6;

    &:last-child {
        border-bottom: 1px solid #E6E6E6;
    }
}

.card__set-info {
    display: flex;
    align-items: center;
}

.cart__set-product-name {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-left: 3rem;
}