.cart__header {
    margin-bottom: 2.4rem;
}

.cart__title {
    color: $dark;
    font-size: 1vw;
    font-weight: 600;
    line-height: 24px; 

    @include breakpoint($laptop) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.6vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2.2vw;
    }
    @include breakpoint($mobile) {
        font-size: 3.5vw;
    }
}

.cart__product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    padding: 1.2rem 0;

    &:first-child {
        border-top: 1px solid #E6E6E6;
    }
}

.cart__product-content {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    justify-content: space-between;
    flex-grow: 1;

    @include breakpoint($laptop) {
        margin-left: 2rem;
    }

    @include breakpoint($mobile) {
        flex-direction: column;
        align-items: baseline;
        margin-left: 3rem;
    }
}

.cart__product-footer {
    display: flex;
    align-items: center;

    &--set {
        justify-content: right;
        padding-top: 1.6rem;
    }

    @include breakpoint($mobile) {
        justify-content: space-between;
    }
}

.cart__product-info {
    margin-right: 4vw;

    @include breakpoint($laptop) {
        margin-right: 2.4vw;
    }
    @include breakpoint($mobile) {
        @include flex;
        margin-bottom: 1.2rem;
    }
}

.cart__product-bin {
    &--mobile {
        display: none;
    }

    @include breakpoint($mobile) {
        &--mobile {
            display: block;
        }
    }
}

.cart__product-name {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 400;

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
        width: 80%;
    }
}

.cart__product-counter {
    display: flex;
    align-items: center;

    @include breakpoint($tablet) {
        margin-right: 2rem;
    }
}

.cart__product-action {
    background-color: $soft;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;

    &:hover {
        background-color: $light-gray;
    }

    @include breakpoint($tablet) {
        width: 24px;
        height: 24px;
    }
}

.cart__product-price {
    color: $dark;
    font-size: 1vw;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    margin-right: 4rem;
    position: relative;

    @include breakpoint($tablet) {
        font-size: 1.2vw;
        margin-right: 0;
        padding-right: 4rem;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
        padding-right: 2rem;
    }
}

.cart__product-price-curency {
    font-size: 0.7vw;
    font-weight: 500;
    line-height: 12px;

    @include breakpoint($tablet) {
        font-size: 1vw;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.4vw;
        right: 1.4rem;
    }
    @include breakpoint($mobile) {
        font-size: 2.4vw;
        right: 0rem;
    }
}

.cart__product-bin-box {
    cursor: pointer;
    justify-self: end;

    @include breakpoint($mobile) {
        display: none;
    }
}

.cart__buy {
    margin: 3.2rem 0 2.4rem;

    @include breakpoint($mobile) {
        margin: 2.4rem 0;
    }
}

.cart__buy-up {
    display: none;

    @include breakpoint($mobile) {
        @include flex;
        margin-bottom: 1.2rem;
    }
}

.cart__buy-text {
    color: $dark-grey;
    font-size: 1vw;
    font-weight: 700;
    line-height: 24px;

    @include breakpoint($mobile) {
        font-size: 2.8vw;
    }
}

.cart__buy-price {
    color: $dark;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 24px; /* 85.714% */

    @include breakpoint($tablet) {
        font-size: 1.8vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2.2vw;
    }
    @include breakpoint($mobile) {
        font-size: 3.2vw;
    }
}

.cart__buy-price-curency {
    font-size: 0.9vw;
    line-height: 16px; 
    letter-spacing: 0.32px;

    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
    }
}

.cart__buy-down {
    @include flex;   

    @include breakpoint($mobile) {
        flex-direction: column-reverse;
        align-items: normal;

        .button {
            width: 100%;
            justify-content: center;
        }
    }
}

.cart__buy-order {
    display: flex;
    align-items: center;

    .cart__buy-price {
        margin-right: 2.8rem;

        @include breakpoint($mobile) {
            display: none;
        }
    }
}

.cart__kit {
    margin: 2.4rem 0;
}

.cart__kit-content {
    @include flex;
    margin: 2.4rem 0;
}

.cart__kit-cards {
    width: 81%;
    
    @include breakpoint($tablet) {
        width: 90%;
    }
    @include breakpoint($mobile) {
        width: 84%;
    }
}

.cart__kit-product-img {
    @include breakpoint($tablet) {
        display: block;
        width: 50%;
    }
    @include breakpoint($mobile) {
        display: block;
        width: 30%;
        height: fit-content;
        margin: auto;
    }
}

.cart__kit-card {
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 71, 0.14);
    border-bottom: 4px;
    padding: 2.4rem;
}

.cart__kit-card-info {
    @include flex;
    padding-top: 1.6rem;
    border-top: 1px solid #E6E6E6;

    @include breakpoint($mobile) {
        flex-direction: column-reverse;
    }
}

.cart__kit-number {
    color: $gray;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 20px; 

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
    }
}

.cart__kit-price {
    color: $dark;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 24px; /* 85.714% */

    @include breakpoint($tablet) {
        font-size: 1.8vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2.2vw;
    }
    @include breakpoint($mobile) {
        font-size: 3.2vw;
        text-align: center;
        line-height: normal;
    }
}

.cart__kit-price-curency {
    font-size: 0.9vw;
    line-height: 16px; 
    letter-spacing: 0.32px;

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.4vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.4vw;
    }
}

.card__kit-saving {
    color: $primary;
    font-size: 0.9vw;

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.4vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
    }
}

.cart__kit-saving-price {
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 20px; /* 142.857% */

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
    }
}

.cart__kit-saving-curency {
    font-size: 0.7vw;
    font-weight: 500;
    line-height: 8px;

    @include breakpoint($laptop) {
        font-size: 0.9vw;
    }
    @include breakpoint($tablet) {
        font-size: 1vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.2vw;
    }    
    @include breakpoint($mobile) {
        font-size: 2.4vw;
    }
}

.cart__kit-order {
    display: flex;
    align-items: center;

    @include breakpoint($mobile) {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.2rem;
    }
}

.card__kit-order-info {
    margin-right: 2.4rem;

    @include breakpoint($mobile) {
        margin-right: 0;
        margin-bottom: 1.2rem;
    }
}

.cart__kit-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2rem;

    @include breakpoint($tablet-pt) {
        flex-direction: column;
    }
}

.cart__kit-product {
    display: flex;
    width: 38%;

    @include breakpoint($desktop) {
        width: 42%;
    }
    @include breakpoint($desktop) {
        width: 100%;
    }
}

.cart__kit-product-info {
    margin-left: 2.4rem;
    display: flex;
    flex-direction: column;

    @include breakpoint($desktop) {
        margin-left: 1.2rem;
    }
    @include breakpoint($tablet-pt) {
        margin-left: 2.4rem;
    }
}
.cart__kit-product-name {
    color: $dark;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 20px; /* 125% */
    margin-bottom: 1.2rem;

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
        line-height: 18px;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.8vw;
        line-height: 16px;
    }
    @include breakpoint($mobile) {
        font-size: 2.8vw;
    }
}

.cart__kit-product__prices {
    margin: auto 0 0 0;
}

.cart__kit-add-box {
    margin: 0 1.6rem;

    @include breakpoint($tablet) {
        margin: 1.6rem 0;
    }
}

.cart__similar-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
    margin-top: 2.4rem;
}

.cart-similar-item {
    grid-column: span 1;

    @include breakpoint($tablet) {
        grid-column: span 2;
    }
}

.cart__set {
    padding: 1.6rem;
    border: 2px solid $secondary;
    border-radius: 4px;
}

.cart__set-name {
    color: $secondary;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    margin-bottom: 1.6rem;

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
        margin-bottom: 0;
    }
}

.cart__set__product {
    @include flex;
    padding: 1.2rem 0;
    border-top: 1px solid #E6E6E6;

    &:last-child {
        border-bottom: 1px solid #E6E6E6;
    }

    @include breakpoint($mobile) {
        &:first-child {
          border: none;  
        }

        .cart__product-price {
            display: none;
        }
    }
}

.card__set-info {
    display: flex;
    align-items: center;
}

.cart__set-product-name {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-left: 3rem;

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
        line-height: 16px;
    }
}