
.category {
    margin: 0 auto;
}

.category__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.6rem;
}

.category__item {
    grid-column: span 2;

    @include breakpoint($desktop) {
        grid-column: span 3;
    }
    @include breakpoint($tablet-pt) {
        grid-column: span 4;
    }
    @include breakpoint($mobile) {
        grid-column: span 6;
    }
}

.category__item-wrap {
    position: relative;
    padding: 1rem;
}

.category__link {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.category__img {
    margin: 0 auto;
    display: block;
    box-shadow: 0px 4px 3px 5px rgba(0, 0, 0, 0.06);
    border-radius: 50%;
}

.category__title {
    margin-top: 1.6rem;
    color: $dark-grey;
    text-align: center;
    font-size: 0.9vw;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-decoration: none;
    display: block;

    &:hover {
        opacity: 0.8;
    }

    @include breakpoint($laptop) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.6vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.9vw;
    }
    @include breakpoint($mobile) {
        font-size: 3.6vw;
    }
}