.footer {
    padding: 3rem 0;
    background-color: $dark;

    @include breakpoint($mobile) {
        padding: 1.6rem 0;
    }
}

.footer__up {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;

    @include breakpoint($tablet-pt) {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
}

.footer__navigation-item,
.footer__follow-wrap {
    @include breakpoint($mobile) {
        display: none;
    }
}

.footer__title {
    color: $light-gray;
    font-size: 1vw;
    font-weight: 500;
    line-height: 24px; /* 133.333% */

    &--navigation {
        margin-bottom: 1.6rem;
    }

    @include breakpoint($tablet) {
        font-size: 1.5vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2vw;

        &--navigation {
            margin-bottom: 1rem;
        }
    }
    @include breakpoint($mobile) {
        font-size: 5.2vw;
    }
}

.footer__form {
    width: 18.75vw;
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid $dark;
    background: $white;
    padding: 0.8rem;
    margin-bottom: 4rem;

    @include breakpoint($tablet) {
        width: 100%;
    }

    @include breakpoint($mobile) {
        margin-bottom: 1.6rem;
    }
}

.footer__button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.footer__down {
    display: flex;
    padding: 1.6rem 0;
    align-items: center;
    justify-content: space-between;
    color: #D9D9D9;
    border-top: 1px solid rgba(#D9D9D9, 0.5);
    border-bottom: 1px solid rgba(#D9D9D9, 0.5);

    @include breakpoint($mobile) {
        border: none;
    }
}

.footer__down-left {
    display: flex;
    align-items: center;
}

.footer__logo {
    margin-right: 1.56vw;
    width: 25vw;

    @include breakpoint($mobile) {
        display: none;
    }
}

.footer__copyright {
    font-size: 0.8vw;
    color: $light-gray;

    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }

    @include breakpoint($mobile) {
        font-size: 3.8vw;
        text-align: center;
    }
}

.footer__pay-system {
    display: flex;
    align-items: center;

    &--mobile {
        display: none;
    }

    @include breakpoint($mobile) {
        display: none;

        &--mobile {
            display: flex;
            justify-content: center;
        }
    }
}

.footer__pay-system__item {
    margin-right: 1rem;

    &:last-child {
        margin-right: 0;
    }
}

.footer__follow {
    @include breakpoint($tablet-pt) {
        margin-top: 1.5rem;
    }
    @include breakpoint($mobile) {
        width: 100%;
    }
}

.footer__logo-mobile {
    display: none;

    @include breakpoint($mobile) {
        display: block;
        margin-bottom: 1.6rem;
    }
}

.footer__logo-mobile-img {
    display: block;
    margin: 0 auto;
}