.game {
    background: $dark url("../../img/game-zone/bg.jpg") center no-repeat;
    background-size: cover;
    padding: 4rem 0;
}

.game-wrap {
    position: relative;

    &::before {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 2%;
        z-index: 2;
        background-color: $white;
        width: 6vw;
        height: 2px;
    }

    &::after {
        position: absolute;
        display: block;
        content: "";
        right: 0;
        top: 2%;
        z-index: 2;
        background-color: $white;
        width: 54.5vw;
        height: 2px;
    }
}

.game__title {
    margin-left: 8vw;
    margin-bottom: 2.4rem;
    color: $white;
    text-transform: uppercase;
    font-size: 1.9vw;
    font-weight: 600;
    line-height: 40px; /* 111.111% */

    &--s {
        text-transform: none;
        margin-left: 0;
        font-size: 1.5vw;
        font-weight: 600;
        line-height: 32px; /* 114.286% */
        margin-top: 4rem;
    }
}

.game__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.6rem; 
    margin-bottom: 2.8rem;  
}

.game__item {
    grid-column: span 2;

    @media screen and (max-width: 1920px) {
        grid-column: span 4;
    }
}

.game__categories {
    margin-bottom: 2.8rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 228px);
    grid-template-areas: 
    "keyboard keyboard mouse laptop video-card video-card"
    "accessories monitor monitor laptop motherboard cpu";
}

.game__category {
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 71, 0.14);

    &.keyboard {
        grid-area: keyboard;
        background: $dark url("../../img/game-zone/keyboard.jpg") center no-repeat;
        background-size: cover;
    }
    &.mouse {
        grid-area: mouse;
        background: $dark url("../../img/game-zone/mouse.jpg") center no-repeat;
        background-size: cover;
    }
    &.accessories {
        grid-area: accessories;
        background: $dark url("../../img/game-zone/accessories.jpg") center no-repeat;
        background-size: cover;
    }
    &.laptop {
        grid-area: laptop;
        background: $dark url("../../img/game-zone/laptop.jpg") center no-repeat;
        background-size: cover;
    }
    &.monitor {
        grid-area: monitor;
        background: $dark url("../../img/game-zone/monitor.jpg") center no-repeat;
        background-size: cover;
    }
    &.video-card {
        grid-area: video-card;
        background: $dark url("../../img/game-zone/video-card.jpg") center no-repeat;
        background-size: cover;
    }
    &.motherboard {
        grid-area: motherboard;
        background: $dark url("../../img/game-zone/motherboard.jpg") center no-repeat;
        background-size: cover;
    }
    &.cpu {
        grid-area: cpu;
        background: $dark url("../../img/game-zone/cpu.jpg") center no-repeat;
        background-size: cover;
    }

    &:hover .game__category-link{
        &--red {
            background-color: #FC5454;
        }
        &--gray {
            background-color: #EBADAD;
        }
        &--blue {
            background-color: #B571D4;
        }
        &--azure {
            background-color: #67D8D8;
        }
    }
}

.game__category-title {
    color: $white;
    font-size: 1vw;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    position: absolute;
    left: 2.4rem;
    bottom: 1.6rem;
    z-index: 3;
}

.game__category-link {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: all linear .3s;
}

.game__category-img {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}