.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header__up {
    background-color: $dark;
    padding: 1rem 0;

    @include breakpoint($mobile) {
        padding: 0.8rem 0;
    }
}

.header__nav {
    @include breakpoint($mobile) {
        display: none;
    }
}

.header__up-wrap {
    @include flex;
}

.header__up-navigation {
    display: flex;
    align-items: center;
}

.header__burger {
    margin-right: 1.3vw;
    cursor: pointer;
}

.header__burger-img {
    width: 1.25vw;

    @include breakpoint($tablet) {
        width: 2.7vw;
    }
    @include breakpoint($tablet-pt) {
        transform: translateY(2px);
    }
    @include breakpoint($mobile) {
        width: 7vw;
    }
}

.header__up-logo {
    display: none; 
    
    @include breakpoint($mobile) {
        display: block;
    }
}

.header__up-phone {
    display: none; 
    
    @include breakpoint($mobile) {
        display: block;
    }
}

.header__up-account {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;

    @include breakpoint($mobile) {
        display: none;
    }
}

.header__up-account-img {
    width: 1.25vw;

    @include breakpoint($tablet) {
        width: 2.7vw;
    }
}
.header__down {
    padding: 2.4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    background-color: $white;

    @include breakpoint($tablet) {
        padding: 1.6rem;
    }
    @include breakpoint($mobile) {
        padding: 0.8rem 0;
        background-color: $dark;
    }
}

.header__down-wrap  {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__info {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.header__logo {
    margin-right: 1.72vw;
    cursor: pointer;

    @include breakpoint($mobile) {
        display: none;
    }
}

.header__logo-img {
    width: 8.54vw;

    @include breakpoint($tablet) {
        width: 16vw;
    }
}

.header__search {
    display: flex;
}

.header__search-btn {
    height: 4.2rem;
    cursor: pointer;
    background-color: $secondary;
    padding: 0.9rem 1.2rem;
    border: none;
    font-family: 'Montserrat';
    border-radius: 0px 4px 4px 0px;

    &:hover {
        background-color: #3582BF;
    }

    @include breakpoint($mobile) {
       background-color: transparent;

       &:hover {
            background-color: transparent;
        }
    }

    @include breakpoint($mobile) {
       height: auto;
    }
}

.header__search-img {
    @include breakpoint($mobile) {
        width: 7vw;
    }
}

.header__actions {
    display: flex;
    align-items: center;
}

.header__actions-item {
    margin-right: 0.8vw;
    position: relative;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &.active {
        box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.06);
    }

    &--mobile {
        display: none;
    }

    @include breakpoint($tablet-pt) {
        display: none;

        &:last-child {
           display: block;
           margin-left: 0.8vw;

           .header__actions-img {
                width: 5.5vw;
           }
        }
    }
    @include breakpoint($mobile) {

        &:last-child {
            display: none;
        }

        &--mobile {
            display: block;
 
            .header__actions-img {
                width: 7vw;
            }
         }
    }
}
.header__actions-count {
    display: none;
    position: absolute;
    background-color: $yellow;
    color: $dark;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    top: -5px;
    right: -8px;
    z-index: 2;
    width: 22px;
    height: 22px;
    font-weight: 700;

    &--cart {
        background-color: $primary;
        color: $soft;
    }

    &.active {
        display: block;
    }

    @include breakpoint($mobile) {
        top: -10px;
        right: -10px;
    }
}

.header__actions-num {
    display: block;
    transform: translateY(25%);
}

.header__actions-img {
    
    @include breakpoint($tablet) {
        &--comparison {
            width: 4vw;
        }
    }

    @include breakpoint($tablet) {
        width: 4vw;

        &--comparison {
            width: 5vw;
        }
    }
}

.header__comparison {
    transform: translateY(-100%);
    position: absolute;
    right: 0;
    top: 130%;
    z-index: -1;
    border-radius: 4px 0px 4px 4px;
    background-color: $white;
    padding: 1.6rem;
    width: 33rem;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 71, 0.14);


    &.show {
        display: block;
        transform: translateY(16%);
    }
}

.header__comparison-item {
    margin-bottom: 0.8rem;
    @include flex;

    &:last-child {
        margin-bottom: 0;
    }
}

.header__comparison-title {
    color: $dark-grey;
    font-size: 1vw;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    margin-bottom: 1rem;

    @include breakpoint($laptop) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.4vw;
    }
}

.header__comparison-link {
    color: $secondary;
    text-decoration: none;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 114.286% */

    &:hover {
        color: $gray;
    }

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.2vw;
    }
}

.header-comparison-count {
    margin-left: 1.2rem;
}

.header__catalog-wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(2px);
    overflow-y: auto;
    overflow-x: hidden;

    &.show {
        display: block;
    }

    &::-webkit-scrollbar {
        width: 0;
    }
}

.header__catalog {
    height: auto;
    opacity: 0;
    width: 20vw;
    left: 10vw;

    .catalog__content {
        height: 70vh;
    }

    .catalog__item {
        padding: 1.95rem 1.2rem;
    }
    .catalog__list {
        margin-top: 2rem;
    }
    .catalog__column-element {
        margin-bottom: 1.6rem;
    }

    @include breakpoint($desktop) {
       left: 5vw;
       min-height: 116%;
       height: max-content;
    }
    @include breakpoint($laptop) {
        width: 26vw;
        min-height: 125%;

        .catalog__content {
            height: 100vh;
        }
        .catalog__list {
            margin-top: 1.2rem;
        }
        .catalog__column-element {
            margin-bottom: 0.6rem;
        }
    }
    @include breakpoint($tablet) {
        left: 0;
        display: block;
        width: 31vw;
        min-height: 144%;

        .catalog__column {
            margin-right: 2.4rem;
        }

        .catalog__content {
            width: 69vw;
        }

        .catalog__title {
            line-height: 16px;
        }
    }
    
    @include breakpoint($tablet-pt) {
        width: 100%;
        left: 0;
        margin-right: 0;
        min-height: 100%;

        .catalog__content {
            width: 100%;
            height: auto;
            padding: 1.2rem 1.2rem 0rem 4rem;
            z-index: 1;
        }
        .catalog__column {
            margin-right: 0;
        }
        .catalog__title  {
            padding: 0.6rem 0;
        }
        .catalog__item {
            padding: 1.2rem 1.6rem;
        }
        .catalog__header{
            display: block;
            background-color: $white;
            @include flex;
            padding: 1.6rem;
        }
        .header__catalog-title {
            color:$dark;
            font-size: 2.6vw;
            font-weight: 700;
            line-height: 24px; 
        }
        .catalog__close {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
        
            &:hover {
                transform: rotate(90deg);
            }
        }
        .catalog__column-item-link {
            width: 45%;
        }
        .catalog__column-item {
            position: relative;
            z-index: 2;
        }
        .catalog__link {
            display: inline-block;
            width: 100%;
        }
    }

    @include breakpoint($mobile) {
        .header__catalog-title {
            font-size: 4vw;
        }
    }
}