.intro {
    position: relative;
}

.intro__banners {
    margin-left: 26vw;
    margin-bottom: 3.8rem;
    position: relative;

    @include breakpoint($tablet) {
        margin-left: 0;
    }
    @include breakpoint($tablet) {
        margin: 0;
        width: 100vw;
        transform: translateX(-1.6rem);
    }
}

.intro__banner {
    position: relative;
}

.intro__banner-img {
    width: 63.4vw;
    height: 60vh;

    @include breakpoint($desktop) {
        width: 100%;
    }
    @include breakpoint($tablet) {
        height: 70vh;
    }
    @include breakpoint($tablet-pt) {
        height: 34rem;
    }
    @include breakpoint($mobile) {
        height: 32rem;
    }
}

.intro__banner-content {
    position: absolute;
    left: 4rem;
    top: 4rem;
    z-index: 2;
    max-width: 45vw;

    @include breakpoint($tablet) {
        max-width: 62vw;
    }
    @include breakpoint($tablet-pt) {
        max-width: 68vw;
        left: 3rem;
        top: 3rem;
    }
    @include breakpoint($mobile) {
        right: 1.6rem;
        top: 3rem;
        text-align: right;
        max-width: none;
    }
}

.intro__title {
    font-size: 2vw;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: $white;

    @include breakpoint($tablet) {
        font-size: 3.3vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 3.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 6.5vw;
    }
}

.intro__desc {
    margin: 3.2rem 0;
    color: #CDCDCD;
    font-size: 1vw;
    font-weight: 400;
    max-width: 35vw;

    @include breakpoint($tablet) {
        font-size: 2vw;
        max-width: 50vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2.3vw;
        max-width: 58vw;
        margin: 2.5rem 0;
    }

    @include breakpoint($mobile) {
        font-size: 3.2vw;
        max-width: none;
        margin: 1.2rem 0;
    }
}

.intro__banner-btn {
    text-transform: uppercase;
    border: none;
    outline: none;
    color: $white;
    padding: 1.4rem 4rem;
    font-size: 0.7vw;
    font-weight: 700;
    border-radius: 4px;
    border: 3px solid #E93232;
    background: #E93232;
    transition: all linear .3s;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

    &:hover {
        background-color: transparent;
    }

    @include breakpoint($tablet) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.5vw;
        padding: 1.1rem 3.2rem;
    }
    @include breakpoint($mobile) {
        font-size: 3vw;
        padding: 1.1rem 3.2rem;
    }
}

.intro__dots {
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    z-index: 2;
    display: flex;
    align-items: center;

    @include breakpoint($tablet-pt) {
        left: 3rem;
        bottom: 3rem;
    }
    @include breakpoint($mobile) {
        left: auto;
        right: 1.6rem;
        bottom: 1.6rem;
    }
}

.intro__dot {
    border-radius: 50%;
    height: 9px;
    width: 9px;
    background-color: $white;
    margin-right: 0.5rem;
    cursor: pointer;

    &.active {
        background-color: $dark;
    }
}

.intro__advantages {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 2rem 0 3rem;
    margin-left: 26vw;

    &::-webkit-scrollbar {
        display: none;
    }

    @include breakpoint($tablet) {
        grid-template-columns: repeat(7, 130px);
        overflow: auto;
        margin-left: 0;
    }
}

.intro__advatages-item {
    display: flex;
    flex-direction: column;
    margin-right: 3vw;

    &:last-child {
        margin-right: 0;
    }
}

.intro__advatages-pic {
    display: block;
    margin: 0 auto;
}

.intro__advatanges-img-box {
    margin-bottom: 1.2rem;

    &--installation {
        margin-bottom: 1.9rem;
    }
    &--guarantee {
        margin-bottom: 2.2rem;
    }
    &--delivery {
        margin-bottom: 2.9rem;
    }
    &--price {
        margin-bottom: 2.7rem;
    }
}

.intro__advatages-title {
    font-size: 0.7vw;
    font-weight: 700;
    line-height: 12px; 
    color: $dark;
    text-align: center;
    word-wrap: break-word;

    @include breakpoint($tablet) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.7vw;
    }
    @include breakpoint($mobile) {
        font-size: 3.7vw;
        line-height: 16px;
    }
}