.menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    display: block;
    background-color: $dark;
    padding: 3rem;
    padding-right: 3rem;
    width: 43rem;
    height: 100vh;
    overflow-y: auto; 
    transform: translateX(-100%);

    &.show {
        transform: translateX(0%);
    }

    &::-webkit-scrollbar {
        width: 0;
    }

    @include breakpoint($mobile) {
       padding: 1.6rem;
       width: 80vw
    }
}

.menu__header {
    @include flex;
    margin-bottom: 4rem;
}

.menu__close {
    cursor: pointer;
}

.menu__login {
    margin-bottom: 1.6rem;
    display: none;

    &.show {
        display: block;
    }
}

.menu__login-link {
    color: $light-gray;
    font-size: 1vw;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    border: none;
    background: none;

    &:hover {
        color: $gray;
    }

    @include breakpoint($laptop) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.6vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2.4vw;
    }
    @include breakpoint($mobile) {
        font-size: 4.4vw;
    }
}

.menu__span {
    color: $light-gray;
    font-size: 1vw;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0.8rem;

    @include breakpoint($laptop) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.6vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2.4vw;
    }
    @include breakpoint($mobile) {
        font-size: 4.4vw;
    }
}

.menu__user {
    display: none;

    &.show {
        display: block;
    }
}

.menu__item-wrap {
    @include flex;
}

.menu__user-info {
    display: flex;
    align-items: center;
}

.menu__user-right {
    margin-left: 1.6rem;
}

.menu__name {
    color: $white;
    font-size: 1vw;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    display: block;

    &:hover {
        color: $gray;
    }

    @include breakpoint($laptop) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.5vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2vw;
    }
    @include breakpoint($mobile) {
        font-size: 4vw;
        margin-bottom: 0.8rem;
    }
}

.menu__log-out {
    color: #ccc;
    font-size: 0.8vw;
    font-weight: 500;
    text-decoration: none;
    line-height: 16px; /* 133.333% */

    &:hover {
        color: $gray;
    }

    @include breakpoint($laptop) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.4vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.9vw;
    }
    @include breakpoint($mobile) {
        font-size: 4vw;
    }
}

.menu__arrow {
    cursor: pointer;
}

.menu__user-actions {
    margin-top: 1.6rem;
    display: none;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba($soft, 0.1);

    &.show {
        display: block;
    }
}

.menu__user-actions-item {
    margin-bottom: 1.2rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.menu__user-actions-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
        .menu__user-actions-name {
            color: $gray;
        }
    }
}

.menu__user-actions-name {
    display: block;
    margin-left: 1.2rem;
    color: $light-gray;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 133.333% */

    @include breakpoint($laptop) {
        font-size: 1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.4vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.8vw;
    }
    @include breakpoint($mobile) {
        font-size: 3.4vw;
    }
}

.menu__actions {
    display: none;
    padding-top: 1.6rem;

    &.show {
        display: block;
    }
}

.menu__actions-item {
    margin-bottom: 1.6rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.menu__actions-link {
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
        .menu__actions-name {
            color: $gray;
        }
    }
}

.menu__actions-name {
    display: block;
    margin-left: 1.6rem;
    color: $light-gray;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 20px; /* 125% */

    &--margin {
        margin-left: 2.3rem;
    }

    @include breakpoint($laptop) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.6vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2vw;
    }
    @include breakpoint($mobile) {
        font-size: 4vw;
    }
}


.menu__content-item {
    margin-top: 1.6rem;
    overflow: hidden;
}

.menu__title {
    color: $light-gray;
    font-size: 1vw;
    font-weight: 600;
    line-height: 24px;

    @include breakpoint($laptop) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.6vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2.4vw;
    }
    @include breakpoint($mobile) {
        font-size: 4vw;
    }
}

.menu__accordion {
    cursor: pointer;
    margin-bottom: 1.2rem;
}