.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;

    &.show {
        display: flex;
    }
}

.modal__content {
    max-width: 33vw;
    padding: 2.4rem;
    background-color: $white;
    width: 100%;
    border-radius: 4px;
    position: relative;
    overflow: auto;
    opacity: 0;

    &::-webkit-scrollbar {
        width: 0;
    }

    &--cart {
        max-width: 60vw;
    }
    &--account {
        max-width: 40vw;
    }
    &--result {
        max-width: 34vw;
    }
    &--feedback {
        max-width: 45vw;
    }
    &--photos {
        max-width: 55vw;
    }


    @include breakpoint($laptop) {
        &--feedback {
            max-width: 54vw;
        }
    }
    @include breakpoint($tablet) {
        max-width: 38vw;

        &--account {
            max-width: 45vw;
        }
        &--result {
            max-width: 43vw;
        }
        &--feedback {
            max-width: 68vw;
        }
        &--photos {
            max-width: 65vw;
        }
    }
    @include breakpoint($tablet-pt) {
        max-width: 50vw;

        &--account {
            max-width: 57vw;
        }
        &--result {
            max-width: 63vw;
        }
        &--feedback {
            max-width: 90vw;
        }
        &--photos {
            max-width: 70vw;
        }
    }
    @include breakpoint($mobile) {
        max-width: 90vw;
        &--result {
            max-width: 90vw;
        }
    }
    @include breakpoint($laptop) {
        &--cart {
            max-width: 80vw;
        }
    }
    @include breakpoint($tablet-pt) {
        &--cart {
            max-width: 94vw;
        }
    }
    @include breakpoint($mobile) {
        &--cart,
        &--account {
            padding: 1.6rem;
            max-width: 90vw;

            .modal__close {
                top: 2rem;
                right: 1.6rem;
            }
        }
    }
}

.modal__close {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        transform: rotate(90deg);
    }
}

.modal__header {
    margin-bottom: 2.4rem;
}

.modal__title {
    color: $dark;
    font-size: 1vw;
    font-weight: 600;
    line-height: 24px; 

    @include breakpoint($laptop) {
        font-size: 1.2vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.5vw;
        padding-right: 2rem;
    }
    @include breakpoint($tablet-pt) {
        font-size: 2.2vw;
        line-height: 18px; 
    }
    @include breakpoint($mobile) {
        font-size: 4vw;
    }

    &--large {
        color: $dark-grey;
        font-size: 1.5vw;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 1.6rem;
        padding-right: 0;

        @include breakpoint($laptop) {
            font-size: 2vw;
            line-height: 26px;
        }
        @include breakpoint($tablet) {
            font-size: 2.5vw;
        }
        @include breakpoint($tablet-pt) {
            font-size: 3vw;
            line-height: 22px;
        }
        @include breakpoint($mobile) {
            font-size: 6vw;
        }
    }
}

.modal__text {
    color: $dark-grey;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 18px; /* 120% */

    &--link {
        text-decoration: none;
        color: $secondary;

        &:hover {
            color: $gray;
        }
    }

    &--right {
        margin-bottom: 1.2rem;
        text-align: right;
    }
    &--left {
        margin-bottom: 1.2rem;
        text-align: left;
    }

    &--center {
        text-align: center;
        color: #ccc;
        position: relative;
    }

    &--margin {
        margin-bottom: 1.2rem;
    }

    @include breakpoint($laptop) {
        font-size: 0.9vw;
        line-height: 14px;
    }
    @include breakpoint($tablet) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.5vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
        line-height: 14px;
    }
}

.modal__sign {
    display: flex;
    flex-direction: column;
}

.modal__input {
    width: 100%;
    position: relative;
}

.modal__eye-img {
    display: block;
    position: absolute;
    top: 30%;
    right: 0.8rem;
    transform: translateY(-30%);
    cursor: pointer;
}

.modal__social {
    overflow: hidden;
}

.modal__social-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
    margin: 2.4rem 0;

    .button {
        grid-column: span 1;
        justify-content: center;
        text-transform: none;

        @include breakpoint($laptop) {
            font-size: 0.9vw;
        }
        @include breakpoint($tablet) {
            font-size: 1.1vw;
        }
        @include breakpoint($tablet-pt) {
            font-size: 1.5vw;
        }
        @include breakpoint($mobile) {
            font-size: 2.6vw;
        }
    }
}

.modal__footer {
    text-align: center;
}

.modal__products {
    margin-top: 1.2rem;
}

.modal__product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 1.2rem;

    &:last-child {
        border: none;
    }

    @include breakpoint($mobile) {
        flex-wrap: wrap;
    }
}

.modal__product-info {
    display: flex;
    align-items: center;
    margin-right: 2.4rem;

    @include breakpoint($mobile) {
        margin-right: 0;
        margin-bottom: 1.2rem;
    }
}

.modal__product-img {
    display: block;
    margin-right: 1.2rem;
}

.modal__product-btn {
    flex-grow: 1;

    .button {
        width: 100%;
        justify-content: center;
    }
}

.modal__input {
    &--margin {
        margin-top: 1.2rem;
    }
}

.modal__button {
    width: 39%;

    .button {
        width: 100%;
        justify-content: center;
    }

    &--right {
        margin: 0 0 0 auto;

        @include breakpoint($mobile) {
            width: 100%;
        }
    }
}

.modal__buttons {
    display: flex;
    justify-content: space-between;

    .modal__button {
        width: 39%;
    }

    @include breakpoint($mobile) {
        flex-wrap: wrap;

        .modal__button {
            width: 100%;

            &:first-child {
                margin-bottom: 0.6rem;
            }
        }
    }
}

.modal__paragraph {
    margin-bottom: 0.8rem;

    @include breakpoint($mobile) {
        margin-bottom: 0;
    }
}

.modal__bold {
    color: $dark;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 20px; 
    margin-left: 1.2rem;
    
    @include breakpoint($laptop) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.3vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.6vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.7vw;
    }
}

.modal__btn-box {
    align-self: center;

    @include breakpoint($mobile) {
        flex-grow: 1;
        margin-bottom: 1.2rem;
        text-align: right;
    }
}

.modal__btn {
    color: $secondary;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px;
    border: none;
    outline: none; 
    
    &:hover {
        color: $gray;
    }

    @include breakpoint($laptop) {
        font-size: 0.9vw;
    }
    @include breakpoint($tablet) {
        font-size: 1.1vw;
    }
    @include breakpoint($tablet-pt) {
        font-size: 1.5vw;
    }
    @include breakpoint($mobile) {
        font-size: 2.6vw;
    }
}

.modal__select {
    margin-bottom: 1.2rem;
    
    .select__element {
        width: 100%;
    }
}

.modal__delivery {
    margin-bottom: 1.2rem;
    width: 100%;

    &:last-child {
        margin: 0;
    } 

    &.active {
        border: 1px solid $secondary;
        padding: 1.6rem;
        border-radius: 4px;

        .modal__addition {
            display: block;
        }
    }
}

.modal__radio {
    margin-bottom: 1.2rem;

    &:last-child {
        margin: 0;
    }
}

.modal__map {
    height: 14rem;
    background-color: $white;

    @include breakpoint($tablet-pt) {
        height: 10rem;
    }
}

.modal__addition,
.modal__delivery-item-addition {
    display: none;

    &.show {
        display: block;
    }
}

.modal__delivery-address {
    display: grid;
    grid-template-areas: 
    "street street house apartment";
    gap: 1.6rem;

    .input {
        margin-bottom: 0;
    }

    .modal__input {
        &:nth-child(1) {
            grid-area: street;
        }
        &:nth-child(2) {
            grid-area: house;
        }
        &:nth-child(3) {
            grid-area: apartment;
        }
    
        .input {
            padding: 0.9rem 0.8rem;
            width: 100%;
        }
    }

    @include breakpoint($tablet) {
        gap: 0.8rem;
        grid-template-areas: 
        "street street"
        "house apartment";
    }
}

.modal__delivery-item {
    padding-left: 1.2rem;

    &.active .modal__delivery-item-addition {
        display: block;
    }
}

.modal__radio-groups {
    margin-bottom: 1.2rem;
}

.modal__result {
    text-align: center;
    margin-bottom: 2.8rem;

    @include breakpoint($mobile) {
        .modal__btn-box {
            text-align: center;
        }
    }
}

.modal__main-img-box {
    margin-bottom: 1.8rem;
}

.modal__main-img {
    display: block;
    margin: 0 auto;
}

.modal__bank {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
}

.modal__bank-img {
    display: block;
    margin-right: 1.2rem;
}

.modal__order {
    display: flex;
    justify-content: center;

    .product-page__prices {
        margin-right: 2.4rem;
        align-self: center;
    }

    .modal__button {
        width: 17rem;
    }
    .product-page__price-actual {
        font-weight: 700;
    }

    @include breakpoint($mobile) {
        .modal__button {
            width: 14rem;
        }
    }
}

.modal__dots {
    margin: 1.6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__dot {
    width: 9px;
    height: 9px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 1.6rem;

    &.active {
        width: 20px;
        height: 20px;
        background-color: $secondary;

        @include breakpoint($mobile) {
            width: 15px;
            height: 15px;
        }
    }

    &:last-child {
        margin-right: 0
    }
}

.modal__slider-wrap {
    @include flex;
}

.modal__slider-item {
    display: none;
    margin: auto;

    &.active {
        display: block;
    }

    @include breakpoint($desktop) {
        width: 90%;
    }
    @include breakpoint($laptop) {
        width: 85%;
    }
}

.modal__slider-img {
    @include breakpoint($laptop) {
        width: 85%;
        display: block;
        margin: auto;
    }
}

.modal__text--link {
    background: none;
    border: none;
    outline: none;
}

.modal__frame {
    width: 100%;
    height: 100%;
}