.partners {
    margin-bottom: 2.4rem;    
}

.partners__items {
    padding: 2.4rem 0 2.8rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.6rem;

    @include breakpoint($tablet) {
        overflow-x: auto;
        grid-template-columns: repeat(12, 100px);
    }
}

.partners__item {
    grid-column: span 1;
}

.partners__img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}