.partners {
    margin-bottom: 2.4rem;    
}

.partners__items {
    margin: 2.4rem 0 2.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners__item {
    margin-right: 1.25vw;

    &:last-child {
        margin-right: 0;
    }
}