.stock__wrap {
    &--large {
        max-width: 85.83vw;
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
    }
}

.stock__items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1.6rem;
    margin: 2.4rem 0;
}

.stock__item {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}


.stock__title {
    font-size: 1vw;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    margin-top: 1.6rem;
}

.stock__title-link {
    text-decoration: none;
    color: $dark;
}

.stock__footer {
    margin: auto 0 0 0;
}

.stock__time {
    margin: 1rem 0;
    padding: 0.8rem 1.6rem;
    border-radius: 2rem;
    border: 1px solid #E6E6E6;
    width: max-content;

    &--red {
        border: 1px solid $red;

        .stock__text {
            color: $red;
        }
    }
}

.stock__text {
    color: #666;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    margin-right: 1rem;
}

.stock__days {
    color: $red;
    font-size: 0.9vw;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

.stock__link {
    color: $secondary;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}


.stock__content {
    background-color: $dark;
    padding: 4rem 0;
}

.stock__banners {
    margin: 0 2.4rem;
}

.stock__banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stock__banner-info {
    margin-right: 10.2vw;
}

.stock__banner-title {
    color: $white;
    font-size: 1.7vw;
    font-weight: 600;
    line-height: 36px; /* 112.5% */
    margin-bottom: 2.4rem;
}

.stock__banner-link {
    color: $white;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

.stock__banner-desc {
    color: $white;
    margin-bottom: 3.2rem;
    font-size: 1vw;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}

.stock__banner-img {
    border-radius: 8px;
    display: block;
}


.stock__arrow {
    cursor: pointer;
}