.top {
    margin-bottom: 2.8rem;
}

.top__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.6rem;   
    margin: 2.8rem 0;

    @include breakpoint($mobile) {
        margin: 1.2rem 0;
    }
}

.top__item {
    grid-column: span 2;

    @include breakpoint($laptop) {
        grid-column: span 4;
    }
    @include breakpoint($tablet) {
        grid-column: span 6;
    }
}