$desktop: 1920px;
$laptop: 1366px;
$tablet: 991px;
$tablet-pt: 768px; 
$mobile: 500px;

$primary: #06A56C;
$secondary: #01579B;

$red: #E93232;
$yellow: #FFCD1B;
$white: #fff;
$soft: #F4F8FB;
$dark-grey: #333333;
$light-gray: #D9D9D9;
$gray: #999;
$dark: #060F42;